<div id="footer-container">
    <!-- <div id="footer-container2"> -->
        <div id="foot-shadow"></div>
        <div id="foot-shadow2"></div>
    <!-- </div> -->
</div>

<div id="header-container">
    <!-- <div id="header-content"> -->
        <div id="header-element"><a href="deerhunt"id="deer-link" class="header-link"><br><br>Deerhunt</a></div>
        <div id="header-element2"><a href="tunnel"id="tunnel-link" class="header-link"><br><br>Tunnel</a></div>
    <!-- </div> -->
</div>