<div id="footer-container">
    <div id="footer-container2">
        <div id="foot-shadow"></div>
    </div>
</div>

<div id="header-container">
    <div id="header-content">
        <div id="header-element"><a href="deerhunt"id="deer-link"><br><br>Deerhunt</a></div>
        <div id="header-element2"></div>
    </div>
</div>