<div id="footer-container">
    <!-- <div id="footer-container2"> -->
        <div id="foot-shadow"></div>
        <div id="foot-shadow2"></div>
        <div id="foot-shadow3"></div>
        <div id="foot-shadow4"></div>
        <div id="foot-shadow5"></div>
    <!-- </div> -->
</div>

<div id="header-container">
    <!-- <div id="header-content"> -->
        <div id="header-element"><a href="deerhunt"id="deer-link" class="header-link"><br><br>Deerhunt</a></div>
        <div id="header-element2"><a href="tunnel"id="tunnel-link" class="header-link"><br><br>Tunnel</a></div>
        <div id="header-element3"><a href="solar"id="solar-link" class="header-link"><br><br>Solar</a></div>
        <div id="header-element4"><a href="fly"id="fly-link" class="header-link"><br><br>Fly</a></div>
        <div id="header-element5"><a href="walk"id="walk-link" class="header-link"><br><br>Walk</a></div>
    <!-- </div> -->
</div>