<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/deerStyles.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeerHunt</title>
</head>
<body>
    <a href="/">Home</a>

    <div id="parallax-container">
        <div id="sky-image"></div> 
        <div id="mountain-image"></div> 
        <div id="forest-image"></div> 
        <div id="field-image"></div>
        <div id="grass-image"></div>
    </div>

</body>
</html>