<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/deerStyles.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeerHunt</title>
</head>
<body>

    <div id="parallax-container">
        <div id="sky-image"><a href="/">Home</a></div>
        <div id="mountain-image"></div> 
        <div id="forest-image"></div> 
        <div id="field-image"></div>
        <div id="grass-image"></div>
    </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
<script src="/public/logic/deerLogic.js"></script>
</html>