<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/assets/deerStyles.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeerHunt</title>
</head>
<body>

    <div id="parallax-container">
        <img src="/public/images/SkyElement.jpg" id="sky-image">
        <img src="/public/images/MountainElement.png" id="mountain-image1">
        <img src="/public/images/FieldElement.png" id="field-image">
        <img src="/public/images/ForestElement.png" id="forest-image1"> 
        <div id="grass-image"></div>
    </div>

    <a href="/">Home</a>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
<script src="/public/logic/deerLogic.js"></script>

<!-- <script src="../rellax.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.12.1/rellax.min.js" integrity="sha512-f5HTYZYTDZelxS7LEQYv8ppMHTZ6JJWglzeQmr0CVTS70vJgaJiIO15ALqI7bhsracojbXkezUIL+35UXwwGrQ==" crossorigin="anonymous"></script>
<script>
  var rellax = new Rellax('.rellax');
</script> 
</html>