<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/solarStyles.css" type="text/css" />
    <title>Solar</title>
</head>
<body>
    <a href="/" id="home-link">Home</a>

    <div id="terra-button-container">
        <button id="terra-button" onclick="terraEnlarge()">Terra</button>
    </div>

    <div id="mercury-container">
        <img src="/public/images" id="">
    </div>

    <div id="terra-container">
        <div id="terra-beta2">
            <img src="/public/images/moonMap.png" id="moon-map2" alt="">
        </div>

        <div id="terra">
            <img src="/public/images/earthMap.png" id="earth-map" alt="">
        </div>

        <div id="terra-beta">
            <img src="/public/images/moonMap.png" id="moon-map" alt="">
        </div>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/MotionPathPlugin.min.js"></script>
<script src="/public/logic/solarLogic.js"></script>
</html>