<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/solarStyles.css" type="text/css" />
    <title>Solar</title>
</head>
<body>
    <a href="/" id="home-link">Home</a>

    <div id="terra-button-container">
        <button class="planet-button" id="pluto-button" onclick="plutoEnlarge()">Pluto</button>
        <button class="planet-button" id="neptune-button" onclick="neptuneEnlarge()">Neptune</button>
        <button class="planet-button" id="uranus-button" onclick="uranusEnlarge()">Uranus</button>
        <button class="planet-button" id="jupiter-button" onclick="jupiterEnlarge()">Jupiter</button>
        <button class="planet-button" id="saturn-button" onclick="saturnEnlarge()">Saturn</button>
        <button class="planet-button" id="mars-button" onclick="marsEnlarge()">Mars</button>
        <button class="planet-button" id="terra-button" onclick="terraEnlarge()">Terra</button>
        <button class="planet-button" id="venus-button" onclick="venusEnlarge()">Venus</button>
        <button class="planet-button" id="mercury-button" onclick="mercuryEnlarge()">Mercury</button>
        <button class="planet-button" id="sun-button" onclick="sunEnlarge()">Sun</button>
    </div>

    <div id="sun-container">
        <img src="/public/images/sunMap.png" id="sun-map">
    </div>


    <div id="mercury-container">
        <img src="/public/images/mercuryMap.png" id="mercury-map">
    </div>

    <div id="venus-container">
        <img src="/public/images/venusMap.png" id="venus-map">
    </div>

    <div id="terra-container">
        <div id="terra-beta2">
            <img src="/public/images/moonMap.png" id="moon-map2" alt="">
        </div>

        <div id="terra">
            <img src="/public/images/earthMap.png" id="earth-map" alt="">
        </div>

        <div id="terra-beta">
            <img src="/public/images/moonMap.png" id="moon-map" alt="">
        </div>
    </div>

    <div id="mars-container">
        <img src="/public/images/marsMap.png" id="mars-map">
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/MotionPathPlugin.min.js"></script>
<script src="/public/logic/solarLogic.js"></script>
</html>